// Mixins in here
.hover(@transform) {
    transform: @transform;
}

.btn-style(@padding, @fnt-size, @radius) {
    padding: @padding;
    font-size: @fnt-size;
    border-radius: @radius;
    background-color: @button-bg;
    color: @white;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
        .hover(scale(1.05));
    }
}